{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}. <a href="{{ path('logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    <div class="container-fluid">
        <label for="inputUsername">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control col-4" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control col-4" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mt-2">
            <label>
                <input type="checkbox" name="_remember_me"> Se rappeler de moi
            </label>
        </div>

        <div class="mb-1 row">
            <div class="col-3">
                <small>
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                </small>
            </div>
            <div class="col-2">
                <small class="">
                    <a href="{{ path('user_register') }}">S'inscrire</a>
                </small>
            </div>
            
        </div>

        <button class="btn btn-lg btn-success m-2" type="submit">
            Connexion
        </button>
    </div>
</form>
{% endblock %}
