{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container-fluid">
    <div id="contactForm" class="row justify-content-center ">
        {{ form_start(form) }}

        <h1 class="text-green text-center">Formulaire de contact</h1>

        <p class="mb-0">Si vous souhaitez :
            <ul class="contact-list">
                <li><i class="fas fa-bug"></i> rapporter un bug,</li>
                <li><i class="fas fa-times"></i> évoquer des difficultés rencontrées sur le site,</li>
                <li><i class="far fa-lightbulb"></i> faire des suggestions,</li>
                <li><i class="fas fa-question"></i> avoir des informations sur le site ou son développement,
                <li><i class="fas fa-check"></i> dire des choses gentilles à propos du site (on sait jamais),
                <li><i class="far fa-question-circle"></i> ou pour toutes autres demandes, </li>
            </ul>
        vous pouvez me contacter directement via le formulaire suivant.</p>
        

        <p>Les champs marqués d'un astérisque (*) sont obligatoires afin de pouvoir vous répondre.</p>
        
        <div class="row">
            <div class="col">{{ form_row(form.lastname) }}</div>
            <div class="col">{{ form_row(form.firstname) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.phone) }}</div>
            <div class="col">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.message) }}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Envoyer</button>
        </div>
        
        {{ form_end(form) }}
    </div>
    
</div>



{% endblock %}
