{% extends 'base.html.twig' %}

{% block title %}Morbol Quiz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <span class="mr-2">Bienvenue <b>{{ app.user.username }}</b></span>
    <a href="{{ path('user_profile') }}" class="btn btn-primary" id="account">Mon compte</a>
    <a href="{{ path('logout') }}" class="btn btn-secondary">Déconnexion</a>
    {% else %}
    <span class="mr-2">Bienvenue invité</span>
    <a href="{{ path('user_register') }}" class="btn btn-success">Inscription</a>
    <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
    {% endif %}
</div>

{% endblock %}
