{% extends 'base_game.html.twig' %}

{% block title %}{{ category.name }} : {{ session.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h2> {{ category.name }} : {{ session.name }}</h2>

    <h3>{{ question.text }}</h3>

    {% for answer in answers %}
            <li> {{ answer.text }}</a></li>
    {% endfor %}

    {% if orderInMenu == 1 %}
    <a href="{{ path('menus', {id: session.id}) }}">Retour aux Menus</a>
    {% else %}
    <a href="{{ path('menu_show', {id: session.id, orderInMenu: orderInMenu - 1}) }}">Question précédente</a>
    {% endif %}

    {% if orderInMenu == 5 %}
    <a href="{{ path('menus', {id: session.id}) }}">Retour aux Menus</a>
    {% else %}
    <a href="{{ path('menu_show', {id: session.id, orderInMenu: orderInMenu + 1}) }}">Question suivante</a>
    {% endif %}

</div>
{% endblock %}
