{% extends 'base_game.html.twig' %}

{% block title %}{{ category.nameDisplay }} : {{ session.name }}{% endblock %}

{% block body %}

<div class="container-fluid">

    <h1 class="text-center text-danger">{{ category.nameDisplay }} : {{ session.name }}</h2>

    {% if question == null %}
        <h3>Aucune question trouvée. Pensez à les créer avant !</h3>
        <div>
            <a href="{{ path('nuggets_add', {id: session.id}) }}" class="text-success btn">Ajouter une question aux {{ category.nameDisplay }} <i class="fas fa-plus-circle text-success"></i></a>
        </div>
        <div class="mt-2">
            <a href="{{ path('session_show', {id: session.id}) }}">Retour au départ</a>
        </div>
    {% else %}
        <h3 id="nugget-q">{{ question.text }}</h3>
        <ul class="alpha">
            {% for answer in answers %}
                <li class="answer-letter">
                    {% if answer.isCorrect == true %}
                        <span class="li-answer hidden">
                            {{ answer.text }}
                        </span>
                    {% else %}
                        <span class="li-answer hidden text-ivory text-dark">
                            {{ answer.text }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <div class="row">
            <div class="col-2">
                {% if orderInNuggets == 1 %}
                    <a href="{{ path('session_show', {id: session.id}) }}">Retour au départ</a>
                {% else %}
                    <a href="{{ path('nuggets', {id: session.id, orderInNuggets: orderInNuggets - 1}) }}">Question précédente</a>
                {% endif %}
            </div>
            <div class="col text-center">
                <span class="text-green pointer" id="soluce">
                    Solution
                </span>
            </div>
            <div class="col-2">
                {% if orderInNuggets == 6 %}
                    <a href="{{ path('sorp', {id: session.id}) }}">{{ categoryNext.nameDisplay }}</a>
                {% else %}
                    <a href="{{ path('nuggets', {id: session.id, orderInNuggets: orderInNuggets + 1}) }}">Question suivante</a>
                {% endif %}
            </div>
        </div>            
    {% endif %}
</div>
{% endblock %}
