{% extends 'base_game.html.twig' %}

{% block title %}Partie : {{ session.name }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-5 col-lg-4 text-center">
            <span class="text-info pointer" id="reset-a-team">Réinitialiser le score</span>
        </div>
        <div class="col-5 col-lg-4 text-center">
            <span class="text-info pointer" id="reset-b-team">Réinitialiser le score</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="text-center text-green">Partie : {{ session.name }}</h1>
    <div class="row justify-content-center">
        <h2 class="col-12 text-center m-2">
            <a class="font-horse text-danger" href="{{ path('nuggets', {id: session.id, orderInNuggets: questionNumber}) }}">{{ nuggets.nameDisplay }}</a>
        </h2>
        <h2 class="col-12 text-center m-2">
            <a class="font-horse text-warning" href="{{ path('sorp', {id: session.id}) }}">{{ salt.nameDisplay }}</a>
        </h2>
        <h2 class="col-12 text-center m-2">
            <a class="font-horse text-danger" href="{{ path('menus', {id: session.id}) }}">{{ menus.nameDisplay }}</a>
        </h2>
        <h2 class="col-12 text-center m-2">
            <a class="font-horse text-warning" href="{{ path('sum', {id: session.id}) }}">{{ sum.nameDisplay }}</a>
        </h2>
        <h2 class="col-12 text-center m-2">
            <a class="font-horse text-danger" href="{{ path('death_morbol', {id: session.id}) }}">{{ deathMorbol.nameDisplay }}</a>
        </h2>
    </div>

</div>
{% endblock %}
