{% extends 'base_game.html.twig' %}

{% block title %}{{ category.name }} : {{ session.name }}{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="text-center">
        <h1>{{ category.name }} : {{ session.name }}</h1>

        <h2 class="p-5 m-5">{{ session.sorpName }}</h2>
    </div>
    
    <div class="row">
        <div class="col-2">
            <a href="{{ path('session_show', {id: session.id}) }}">Retour à l'entrée</a>
        </div>
        <div class="col text-center">
        </div>
        <div class="col-2">
            <a href="{{ path('menus', {id: session.id}) }}">Les Menus</a>
        </div>
    </div>       

</div>
{% endblock %}
