{% extends 'base.html.twig' %}

{% block scores %}
<div class="example-wrapper">
<div>{{ session.aTeamName }}</div>

{% if session.aTeamImgUrl != null %}
<div><img src="{{ session.aTeamImgUrl }}" alt=""></div>
{% endif %}

<div id="a-score">{{ session.aTeamScore }}</div>
<div>
    <svg id="minus-a-team" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
    </svg>
    <button type="button" class="btn btn-outline-info btn-sm" id="reset-a-team">Réinitialiser le score</button>
    <svg id="plus-a-team" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
</div>

<div>{{ session.bTeamName }}</div>
{% if session.bTeamImgUrl != null %}
<div><img src="{{ session.bTeamImgUrl }}" alt=""></div>
{% endif %}
<div id="b-score">{{ session.bTeamScore }}</div>
<div>
    <svg id="minus-b-team" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
    </svg>
    <button type="button" class="btn btn-outline-info btn-sm" id="reset-b-team">Réinitialiser le score</button>
    <svg id="plus-b-team" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
</div>
</div>
{% endblock %}