{% extends 'base.html.twig' %}

{% block scores %}

<div class="container-fluid">
    <div class="row justify-content-between">

        <div class="col-5 col-lg-4 text-center">
            <div class="border rounded border-danger pb-1">
                <h2 class="text-danger">{{ session.aTeamName }}</h2>
        
                {% if session.aTeamImgUrl != null %}
                <div><img src="{{ session.aTeamImgUrl }}" alt=""></div>
                {% endif %}
                
                <h2 class="text-danger" id="a-score">{{ session.aTeamScore }}</h2>
                <div class="row">
                    <i class="fas fa-minus-circle text-danger col icon-s pointer" id="minus-a-team"></i>
                    <i class="fas fa-plus-circle text-danger col icon-s pointer" id="plus-a-team"></i>
                </div>
            </div>      
        </div>

        <div class="col-2 col-lg-4"></div>
    
        <div class="col-5 col-lg-4 text-center">
            <div class="border rounded border-warning pb-1">
                <h2 class="text-warning">{{ session.bTeamName }}</h2>

                {% if session.bTeamImgUrl != null %}
                <div><img src="{{ session.bTeamImgUrl }}" alt=""></div>
                {% endif %}

                <h2 class="text-warning" id="b-score">{{ session.bTeamScore }}</h2>
                <div class="row">
                    <i class="fas fa-minus-circle text-warning col icon-s pointer" id="minus-b-team"></i>
                    <i class="fas fa-plus-circle text-warning col icon-s pointer" id="plus-b-team"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}