{% extends "base.html.twig" %}

{% block title %}Créer un {{ category.nameDisplay }}{% endblock %}

{% block body %}

<h1>Creer un {{ category.nameDisplay }}</h1>

<div class="form-inline m-2">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary m-2">Créer</button>
    {{ form_end(form) }}
</div>

{% endblock %}