{% extends 'base.html.twig' %}

{% block title %}Mon Morbol Quiz{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row inline-block">

        <div class="col-lg-6">
            <h1>Mon profil</h1>
            <dl class="row">
                <dt class="col-4">Nom d'utilisateur</dt>
                <dd class="col-8">{{ user.username }}</dd>
                <dt class="col-4">Adresse e-mail</dt>
                <dd class="col-8">{{ user.email }}</dd>
                <dt class="col-4">Prénom</dt>
                <dd class="col-8">{{ user.firstname }}</dd>
                <dt class="col-4">Nom</dt>
                <dd class="col-8">{{ user.lastname }}</dd>
                <dt class="col-12"><a href="{{ path('user_edit') }}">Modifier mon profil</a></dt>
                <dt class="col-12"><a href="{{ path('user_edit_password') }}">Modifier mon mot de passe</a></dt>
                <dt class="col-12"><a href="{{ path('user_delete') }}" class="text-danger">Supprimer mon profil</a></dt>
            </dl>
        </div>

        <div class="col-lg-6">
            <h2>Mes parties</h2>
            <a href="{{ path('session_add') }}" class="text-success text-decoration-none btn">
                Créer une nouvelle partie <i class="fas fa-plus-circle text-success"></i>
            </a>
            <table class="table yable-scripted table-hover table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom de la partie</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                    {% for session in sessions %}
                        <tr>
                            <th scope="row">{{ loop.index}}</th>
                            <td>{{ session.name }}</td>
                            <td><a href="{{ path('session_show', {id: session.id}) }}">Jouer cette partie</a></td>
                            <td><a href="{{ path('session_cards', {id: session.id}) }}">Fiches de présentation</a></td>
                            <td><a href="{{ path('session_overview', {id: session.id}) }}">Gérer cette partie</a></td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}